.header {
  padding: 20px;
  font-size: 25px;
  background: rgb(0, 153, 255);
}
.header a {
  text-decoration: none;
  color: black;
  margin-right:100px ;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1000px;
}
